<p>Please click one of the links below to do something.</p>
<a routerLink="do-something" [state]="{ what: 'do-nothing' }">
  Nothing
</a><br>
<a routerLink="do-something" [state]="{ what: 'sing' }">
  Sing
</a><br>
<a routerLink="do-something" [state]="{ what: 'dance' }">
  Dance
</a><br>
<a routerLink="do-something" [state]="{ what: 'gamble' }">
  Gamble
</a><br>
<a routerLink="do-something" [state]="{ what: 'sing-and-dance' }">
  Sing and Dance
</a><br>
<a routerLink="do-something" [state]="{ what: 'sing-dance-gamble' }">
  Sing, Dance, and Gamble
</a><br>
